.bg-success {
  background-color: #065c6f !important;
}

.text-success {
  color: #065c6f !important;
}

.header {
  height: 100px;
}

input .form-control {
  width: 300px;
}

.inputDiv {
  height: 80px !important;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffbb91;
  color: black;
  text-align: center;
}
